body{
	background: #f0ffff; /* Old browsers */
	background:	-webkit-radial-gradient(center, ellipse cover, #f0ffff 0%, #dbffff 100%);/* Chrome10+,Safari5.1+ */
	background:	-moz-radial-gradient(center, ellipse cover, #f0ffff 0%, #dbffff 100%); /* FF3.6+ */
	background:	-ms-radial-gradient(center, ellipse cover, #f0ffff 0%, #dbffff 100%); /* IE10+ */
	background: -o-radial-gradient(center, ellipse cover,  #f0ffff 0%, #dbffff 100%); /* Opera 12+ */
	background:	radial-gradient(center, ellipse cover, #f0ffff 0%, #dbffff 100%); /* W3C */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f0ffff), color-stop(100%,#dbffff)); /* Chrome,Safari4+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0ffff', endColorstr='#dbffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	gid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height: 100%;
	width: 100%;
}
.cycle-outer{
	width: 534px;
	height: 260px;
	position: absolute;
	top: 50%;
	margin-top: -160px;
	left: 50%;
	margin-left: -267px;
}
.cycle-wrapper{
	width: 534px;
	height: 260px;
	margin: 0 auto;
	position: relative;
}
.cycle-wheel-front{
	margin: 100px 0 0 330px;
}
.cycle-wheel-back{
	margin: 100px 0 0 0px;
}